body{

background:#0b0b0b;
color:#00ff9c;
font-family:monospace;
margin:0;
padding:20px;

}

h1{

text-align:center;
margin-bottom:30px;

}

.container{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;

}

.card{

background:#111;
border:1px solid #00ff9c;
padding:20px;

}

#terminal{

height:180px;
overflow:auto;
background:black;
padding:10px;

}

.alert{

color:red;

}

.safe{

color:lime;

}